html{
    overflow-x: hidden;
}

.header-home{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.holder-cardapio {
    background-color: rgb(69, 69, 69);
    padding: 5vh;
    padding-top: 0vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    border-radius: 20px;
}

.cardapio-body {
    width: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.prato {
    width: 100%;
}

img {
    height: fit-content;
}

.addIcon {
    cursor: pointer;
}

.backButton {
    border: none;
    background-color: azure;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    position: relative;
    left: -48%;
    top: 1%;
    cursor: pointer;
}